/* Sidebar Container */
.sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b9f3f5;
    color: #0d0c0c;
    padding-top: 20px;
    padding-left: 10px;
  }
  
  .sidebar-center {
    margin-top: 70px;
    flex-grow: 1; 
    text-align: center;
    font-size: 22px;
  }

  /* Transparent button style */
  .button {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: #151313;
    cursor: pointer;
  }
  
  /* Change the color when button is active (clicked) */
  .button:active {
  background-color: whitesmoke; /* Change to your desired click color */
  color: #23138e;
}
  
  /* Change the color when button is hovered */
  .button:hover {
    background-color: rgb(169, 227, 241); /* Change to your desired hover color */
    color: white;
  }
  